html { background: #eee; font: 24px/1.25 PixelOperator }
body { max-width: 800px; background: white; margin: auto; padding: 2em }
canvas { display: block }
canvas:focus { border: 5px solid gold; margin: -5px }

@font-face {font-family: PixelOperator; src:url(PixelOperator.ttf)}